# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Microsoft
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
BinPackArguments: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
BraceWrapping:
  BeforeLambdaBody: true
